/* CSS declarations go here */

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.5;
  background: #eeeeee;
  color: #333333;
}

body, input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input {
  font-size: 100%;
}


#top-hello, #main-pane {
  background: #ddd;
  border-bottom: 1px solid #999;
}

#new-chirp {
  font-size: 160%;
  position: relative;
  width: 99%;
}

#chirp-view {
  margin-top: 5px;
  margin-left: 5px;
}

.chirp-item {
  border: 1px solid white;
}

#chirp-author {
  font-size: 12px;
}
